* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background: url('../images/bg.jpg') #093245 repeat-x;
    font-size: 12px;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    color: #333;
}

input {
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
}

.msgbox {
    width: 200px;
    border: 2px solid #f0f0f0;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    position: absolute;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    left: 20px;
    top: -6px;
    display: none;
}

.msgbox{
    &.leftSide {
        left: auto;
        right: 20px;
    }

    &.topSide {
        top: auto;
        bottom: 0;
    }

    .name {
        display: block;
        color: #903;
        font-weight: bold;
        text-align: left;
        margin-bottom: 5px;
    }

    .msg {
        font-weight: bold;
        display: block;
        width: 180px;
    }
}
.gray {
    color: #666;
    font-size: 11px;
}

.footer {
    position: fixed;
    color: #194e6a;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.ftCity1 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 81px;
    background: url('../images/city1.png') repeat-x 0% bottom;
    animation: city-animate 30s linear 0s infinite normal;
    animation-fill-mode: forwards;
}

.ftCity2 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 121px;
    background: url('../images/city2.png') repeat-x 0% bottom;
    animation: city2-animate 36s linear 0s infinite normal;
    animation-fill-mode: forwards;
}

.copyRight {
    height: 20px;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #001424;
}

.msgblock {
    cursor: pointer;
    margin: auto;
    position: relative;
    width: 85px;
    height: 89px;
    top: -100px;
}

.btnsay {
    cursor: pointer;
    width: 85px;
    height: 89px;
    background: url('../images/say.png') no-repeat center center;
}

.inputMsgBlock {
    height: 45px;
    width: 376px;
    position: absolute;
    bottom: -45px;
    left: -100px;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#ddd));
    background-image: -moz-linear-gradient(#fff, #ddd);
    background-image: -o-linear-gradient(#fff, #ddd);
    background-image: linear-gradient(#fff, #ddd);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    z-index: 101;
}

.inputMsgBlock input {
    float: left;
    font-size: 12px;
    padding: 7px 5px;
    line-height: 25px;
    border: 0;
    outline: 0;
}

.animate-show {
    opacity: 1;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    opacity: 0;
}

#inputName {
    width: 70px;
    margin: 2px 5px;
    border: 1px solid #ddd;
}

#inputMsg {
    width: 200px;
    margin: 2px 5px 0 0;
    border: 1px solid #ddd;
}

#submit {
    background-color: #3C8DDE;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
    border: 1px solid #D4D4D4;
    border-color: #3072B3 #3072B3 #2A65A0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin: 2px 5px;

    &:hover {
        border-color: #2A65A0;
    }
}

.btnclose {
    position: absolute;
    right: 0;
    top: -20px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    font-family: sans-serif;
}

.star {
    cursor: pointer;
    z-index: 100;
    display: none;
    position: absolute;
    width: 8px;
    height: 8px;

    .star-img {
        display: block;
        width: 2px;
        height: 2px;
        outline: none;
        border-radius: 10px;
        background-color: yellow;
        box-shadow: 0 0 5px yellow;
    }

    &:hover {
        z-index: 102;

        .msgbox {
            display: block;
        }
    }

    &.selfStar .msgbox {
        border: 2px solid #903;
    }
}



.moon {
    width: 261px;
    position: absolute;
    left: -20px;
    top: -40px;
    height: 261px;
    background: url('../images/moon.png') bottom center;
}

@keyframes city-animate {
    from {
        background-position: 0px;
    }

    to {
        background-position: 1366px;
    }

}

@keyframes city2-animate {
    from {
        background-position: 0px;
    }

    to {
        background-position: -1346px;
    }

}